body {
    background-color: #232323;
    margin-top: 35px;
    margin-left: 200px;
    background-size: cover;
}

#topbar {
    padding-left: 8px;
    padding-right: 8px;
    z-index: 101;
}

#Logo {
    color: #ffaa00;
}

.yourlist {
    margin-left: 40px;
    width: max-content;
    padding: 5px 20px;
    border-color: white;
    border-style: solid;
    border-width: 3px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.justify-center {
    margin-right: auto !important;
    margin-left: auto !important;
}

.justify-right {
    margin-right: 0 !important;
    margin-left: auto !important;
}

.margin-160-left {
    margin-left: 160px;
}

.bg-dark {
    background-color: #1a1a1a !important;
}

.font-nav-custom-color {
    color: #ffaa00;
    font-size: 20px;
}

.shadow-bottom {
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
}


/* Style the sidebar - fixed full height */

.sidebar {
    position: fixed;
    /* top: 56px; */
    margin-top: 56px;
    height: calc(100% - 136px);
    width: 170px;
    z-index: 100;
    transition: ease-in-out 0.2s;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 15px;
}

.sidebar i {
    padding: 6px 8px 6px 8px;
    text-decoration: none;
    font-size: 18px;
    color: #ffaa00;
    display: inline;
    white-space: nowrap;
    margin: 0;
}


/* Style sidebar links */

.sidebar a {
    padding: 6px 8px 6px 8px;
    text-decoration: none;
    font-size: 18px;
    color: #ffffff;
    display: block;
    white-space: nowrap;
    margin: 0;
}


/* Style links on mouse-over */

.sidebar .division {
    color: #ffaa00;
}

.sidebar a:hover {
    color: #ffaa00;
}

.nav-link.font-nav-custom-color.hora:hover {
    color: #ffaa00;
}

.player {
    margin-bottom: 10px;
}

.music {
    margin-left: 21px;
    margin-bottom: 140px;
}

.ula {
    margin-top: 80px;
    margin-bottom: 20px;
    margin-left: 80px;
}

.lim {
    margin-right: 230px;
}

.lim a {
    text-decoration: none;
    font-size: 20px;
    color: #404040;
    display: block;
}

h2 {
    color: #ffaa00;
}

.mrgn-top {
    margin-top: 30px;
    margin-right: 10px;
}


/* Style the main content */

.main {
    margin-left: 160px;
    /* Same as the width of the sidenav */
    padding: 0px 10px;
}

.h4c {
    color: #ffaa00;
}

.h-80px {
    height: 80px;
}

.z-index-0 {
    z-index: 0;
}

@media only screen and (max-device-width: 767px) {
    body {
        margin-left: 0px;
    }
    .sidebar {
        /* background-color: rgba(255, 170, 0, 0.1) !important; */
        width: 0px;
        padding-top: 35px;
    }
}