body {
  margin-top: 71px;
  margin-left: 170px;
  background-color: #404040;
  background-size: cover;
}

#topbar {
  padding-left: 8px;
  padding-right: 8px;
}

.bg-gray {
  background-color: #404040 !important;
}

#Logo {
  color: #ffaa00;
}

.justify-center {
  margin-right: auto !important;
  margin-left: auto !important;
}

.justify-right {
  margin-right: 0 !important;
  margin-left: auto !important;
}

.margin-160-left {
  margin-left: 160px;
}

.bg-dark {
  color: #ffaa00;
  background-color: #282828 !important;
}

.font-nav-custom-color {
  color: #ffaa00;
}

.fluid-main {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 14px;
}


/* Style the sidebar - fixed full height */

.sidebar {
  position: fixed;
  /* top: 56px; */
  margin-top: 56px;
  height: calc(100% - 136px);
  width: 170px;
  z-index: auto;
  transition: ease-in-out 0.2s;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 15px;
}

.sidebar i {
  padding: 6px 8px 6px 8px;
  text-decoration: none;
  font-size: 18px;
  color: #ffaa00;
  display: inline;
  white-space: nowrap;
  margin: 0;
}


/* Style sidebar links */

.sidebar a {
  padding: 6px 8px 6px 8px;
  text-decoration: none;
  font-size: 18px;
  color: #ffffff;
  display: block;
  white-space: nowrap;
  margin: 0;
}

.sidebar .division {
  color: #ffaa00;
}

.sidebar a:hover {
  color: #ffaa00;
}


/* Style the main content */

main {
  margin-left: 160px;
  /* Same as the width of the sidenav */
  padding: 0px 10px;
}


/* Add media queries for small screens (when the height of the screen is less than 450px, add a smaller padding and font-size) */

@media only screen and (max-device-width: 767px) {
  body {
    margin-left: 0px;
  }
  .sidebar {
    /* background-color: rgba(255, 170, 0, 0.1) !important; */
    width: 0px;
    padding-top: 35px;
  }
}

.h-80px {
  height: 80px;
}

.player {
  margin-bottom: 10px;
}

.dropdown-toggle.btn-default {
  color: #292b2c;
  background-color: #fff;
  border-color: #ccc;
}

.bootstrap-select.show>.dropdown-menu>.dropdown-menu {
  display: block;
}

.bootstrap-select>.dropdown-menu>.dropdown-menu li.hidden {
  display: none;
}

.bootstrap-select>.dropdown-menu>.dropdown-menu li a {
  display: block;
  width: 100%;
  padding: 3px 1.5rem;
  clear: both;
  font-weight: 400;
  color: #292b2c;
  text-align: inherit;
  white-space: nowrap;
  background: 0 0;
  border: 0;
  text-decoration: none;
}

.bootstrap-select>.dropdown-menu>.dropdown-menu li a:hover {
  background-color: #f4f4f4;
}

.bootstrap-select>.dropdown-toggle {
  width: 100%;
}

.dropdown-menu>li.active>a {
  color: #fff !important;
  background-color: #337ab7 !important;
}

.bootstrap-select .check-mark {
  line-height: 14px;
}

.bootstrap-select .check-mark::after {
  font-family: "FontAwesome";
  content: "\f00c";
}

.bootstrap-select button {
  overflow: hidden;
  text-overflow: ellipsis;
}


/* Make filled out selects be the same size as empty selects */

.bootstrap-select.btn-group .dropdown-toggle .filter-option {
  display: inline !important;
}