.btn-success {
  color: #000000;
  background-color: #ffaa00;
  border-color: rgb(255, 255, 255);
}

.btn-success:hover {
  color: #000000;
  background-color: #ffaa00;
  border-color: rgb(255, 255, 255);
}

#up.btn-success:active {
  color: #000000;
  background-color: #ffaa00;
  border-color: rgb(255, 255, 255);
}

body {
  margin-top: 71px;
  margin-left: 170px;
  background-color: #000000;
  background-size: cover;
}

#topbar {
  padding-left: 8px;
  padding-right: 8px;
}

#Logo {
  color: #ffaa00;
}

.justify-center {
  margin-right: auto !important;
  margin-left: auto !important;
}

.justify-right {
  margin-right: 0 !important;
  margin-left: auto !important;
}

.bg-dark {
  background-color: #282828 !important;
}

.font-nav-custom-color {
  color: #ffaa00;
}

.shadow-bottom {
  box-shadow: 0px 2px 10px rgba(0, 0, 0, .15);
}

.sidebar {
  position: fixed;
  /* top: 56px; */
  margin-top: 56px;
  height: calc(100% - 136px);
  width: 170px;
  z-index: auto;
  transition: ease-in-out 0.2s;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 15px;
  max-width: 190px;
}

@media only screen and (max-device-width: 767px) {
  body {
    margin-left: 0px;
  }
  .sidebar {
    /* background-color: rgba(255, 170, 0, 0.1) !important; */
    width: 0px;
    padding-top: 35px;
  }
}

.sidebar i {
  padding: 6px 8px 6px 8px;
  text-decoration: none;
  font-size: 18px;
  color: #ffaa00;
  display: inline;
  white-space: nowrap;
  margin: 0;
}

.h-80px {
  height: 80px;
}

.z-index-0 {
  z-index: 0;
}

.sidebar a {
  padding: 6px 8px 6px 8px;
  text-decoration: none;
  font-size: 18px;
  color: #ffffff;
  display: block;
  white-space: nowrap;
  margin: 0;
}

.sidebar .division {
  color: #ffaa00;
}

.sidebar a:hover {
  color: #ffaa00;
}

.jumbotron {
  background-color: #000000;
  color: white;
}

.multiple-file-upload-wrap {
  width: 100%;
  max-width: 500px;
  border: 1px solid #404040;
  padding: 15px;
  .mfu-clear {
    clear: both;
  }
  .mfu-hide {
    display: none;
  }
  .mfu-item {
    background: #404040;
    padding: 7px 7px 4px;
  }
  .mfu-file-number {
    display: inline-block;
    padding: 0 10px;
    font-size: 1.1em;
  }
  .mfu-file-input {
    display: inline-block;
  }
  .mfu-new-item-btn {
    margin-top: 15px;
    float: right;
  }
  .already-uploaded-files {
    padding: 10px;
    background: #404040;
    margin-bottom: 15px;
    .aup-title {
      font-size: 1.2em;
      margin-bottom: 15px;
    }
    .aup-item {
      display: block;
      padding: 5px;
      &:not(:last-child) {
        border-bottom: 1px solid #404040;
      }
      &:hover {
        background: #dadada;
      }
    }
    .aup-file-name {
      display: inline-block;
      margin-right: 15px;
    }
    .aup-delete-btn {
      color: red;
      display: inline-block;
      float: right;
      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }
    .aup-server-response {
      display: none;
      color: red;
      padding: 5px 15px;
      background: #fff;
    }
    .upload {
      background: #fafafa;
      color: red;
    }
  }
}